# ---- Backend (BFF) : validacion del JWT de Cognito ----
COGNITO_ISSUER_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_XXXXXXXXX
COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
FRONTEND_ORIGIN=http://<IP_PUBLICA_EC2>:8090

# ---- Frontend (Vite, horneado en build) ----
VITE_AZURE_CLIENT_ID=<entra-application-client-id>
VITE_AZURE_TENANT_ID=<entra-tenant-id>
VITE_AZURE_REDIRECT_URI=http://<IP_PUBLICA_EC2>:8090
VITE_COGNITO_DOMAIN=https://<dominio>.auth.us-east-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_COGNITO_REDIRECT_URI=http://<IP_PUBLICA_EC2>:8090/cognito-callback
VITE_COGNITO_IDP=EntraID
# URL del API Gateway (HTTP API) que enruta al BFF
VITE_API_BASE_URL=https://<api-id>.execute-api.us-east-1.amazonaws.com
